.App
{
  padding: 16px;
}

h1
{
  font-size: calc(20px + 2vmin);
  font-weight: 700;
  margin-bottom: 32px;
}

h4
{
  color: var(--light-alt);
  font-size: 40px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.todo
{
  position: relative;
  background-color: var(--dark);
  padding: 16px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
  margin-bottom: 16px;
}

.todo:hover
{
  opacity: 0.8;
}

.todo .checkbox
{
  width: 20px;
  height: 20px;
  margin-right: 16px;
  border-radius: 999px;
  background-color: var(--dark-alt);
  transition: 0.4s;
}

.todo.is-finished .checkbox
{
  background-color: var(--primary);
  background-image: linear-gradient(to bottom, var(--primary), var(--secondary));
}

.todo .task
{
  font-size: 20px;
}

.todo.is-finished .task
{
  text-decoration: line-through;
}

.todo .delete-todo
{
  position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 16px;
	color: var(--light);
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background-color: #AF1E2D;
	display: flex;
	justify-content: center;
	font-weight: 500;
}

.newTodoPopup
{
  position: fixed;
  bottom: 32px;
  right: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border-radius: 999px;
  font-size: 28px;
  font-weight: 700;
  color: var(--light);
  background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));
  cursor: pointer;
}