/* --primary: #282C34; */

:root
{
	--primary: #D81E5B;
	--secondary: #8A4EFC;
	--light: #EEEEEE;
	--light-alt: #61759B;
	--dark: #131A26;
	--dark-alt: #202B3E;
}

*
{
  box-sizing: border-box;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code
{
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body
{
  background-color: var(--dark-alt);
  color: var(--light);
  display: flex;
  align-items: center;
  justify-content: center;
}
